<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
  <div class="inner-container">
    <h2 class="page-header">New Book</h2>
    <form method="POST" action="/books/<%= book.id %>?_method=PUT">
      <%- include('_form_fields') %>
      <div class="form-row form-row-end btn-row">
        <a class="btn btn-delete" href="/books">Cancel</a>
        <button class="btn btn-primary" type="submit">Edit</button>
      </div>
    </form>
    </div>
  </body>
</html>
