<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Home of Stories</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">The Home of Stories</a>
        <ul>
          <li><a href="/authors">Authors</a></li>
          <li><a href="/authors/new">Add Author</a></li>
          <li><a href="/books">Books</a></li>
          <li><a href="/books/new">Add Book</a></li>
        </ul>
      </nav>
    </header>
