<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
  <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
  <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
  <script defer src="/javascripts/fileUpload.js"></script>
    <title>The Home of Stories</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">The Home of Stories</a>
        <ul>
          <li><a href="/authors">Authors</a></li>
          <li><a href="/authors/new">Add Author</a></li>
          <li><a href="/books">Books</a></li>
          <li><a href="/books/new">Add Book</a></li>
        </ul>
      </nav>
    </header>
