<% movieCoverClass = locals.large ? '-cover-large' : '' %>
<% movieGridClass = locals.large ? 'book-grid-large' : '' %>
<div class="book-grid <%= movieGridClass %>">
  <% movies.forEach(movie => { %>
    <a href="/movies/<%= movie.id %>">
      <img class="book-cover <%= movieCoverClass %>" src="<%= movie.coverImagePath %>">
    </a>
  <% }) %>
</div>
