<nav class="header-nav">
  <a class="header-title" href="/">The Home of Stories</a>
  <div class="inner-nav">
  <ul>
    <div class="dropdown">
      <p>Books Library</p>
      <div class="dropdown-content">
      <li><a href="/books">Books</a></li>
      <li><a href="/books/new">Add Book</a></li>
      </div>
    </div>
    <div class="dropdown">
      <p>Authors</p>
      <div class="dropdown-content">
        <li><a href="/authors">Authors</a></li>
        <li><a href="/authors/new">Add Author</a></li>
      </div>
    </div>
    <div class="dropdown directors-dropdown">
      <p>Directors</p>
      <div class="dropdown-content">
        <li><a href="/directors">Directors</a></li>
        <li><a href="/directors/new">Add Director</a></li>
      </div>
    </div>
    <div class="dropdown">
      <p>Movies Library</p>
      <div class="dropdown-content">
        <li><a href="/movies">Movies</a></li>
        <li><a href="/movies/new">Add Movie</a></li>
      </div>
    </div>
    <div class="dropdown1">
      <div class="dropdown-content1">
      <li><a href="/users">Sign Out</a></li>
      </div>
    </div>
  </ul>
  </div>
</nav>
