<%- include('./partials/header.ejs') %>
    <h2>Recently Added</h2>
    <div class="">
    <% books.forEach(book => { %>
        <a href="/books/<%= books.id %>">
          <img class="book-cover" src="<%= book.coverImagePath %>">
        </a>
    <% }) %>
    </div>
  </body>
</html>
