<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>
<div class= “banner”>
  <img class="banner-image" src="https://static.curativeartist.com/uploads/Top-10-Netflix-Series-to-Watch-Curative-Artist-1.jpg">
  <div class="bg-text">
    <h1>The Place Where Your Stories Live</h1>
    <p></p>
  </div>
</div>

  <div class="inner-container">
    <h2 class="page-header">Recently Added Books</h2>
      <%- include('./partials/bookGrid', { books: books }) %>
  </div>
  <div class="inner-container inner-movie">
    <h2 class="page-header">Recently Added Movies</h2>
      <%- include('./partials/movieGrid', { movies: movies }) %>
  </div>
  </body>
</html>
