/* font-family: 'Oswald', sans-serif; */

:root {
  font-family: 'Merriweather', serif;
  font-size: 20px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  color: white;
  letter-spacing: 1.5px;
  /* background-color: black; */
  background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90%);
  height: 100%;
   margin: 0;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

 a {
   color: white;
   list-style: none;
   text-decoration: none;
 }

.inner-container {
  margin: 0 2rem;
}

.header-title {
  color: red;
  padding-top: 0;
  margin-top: 0;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
}

.header-title1 {
  color: red;
  padding-top: 0;
  margin-top: 0;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.header-nav1 {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  margin: 20px;
  justify-content: space-between;
}

.header-nav1 ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.header-nav1 li {
  list-style: none;
}

.header-nav1 li a {
  text-decoration: none;
  font-weight: 300;
}

.header-nav1 li a:hover {
  color: red;
}

.header-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.header-nav li {
  list-style: none;
}

.header-nav li a {
  text-decoration: none;
  font-weight: 300;
  padding: 1rem
}

.header-nav li a:hover {
  color: red;
}

.header-title:hover {
  color: white;
}

.page-header {
  color: white;
  font-size: 2rem;
  font-weight: 500;
}

.btn {
  margin-top: 1rem;
  border: 1px solid black;
  border-radius: .5rem;
  padding: .5rem 1rem;
  font-size: 1.2rem;
  font-family: 'Merriweather', serif;
  cursor: pointer;
  text-align: center;
}

.btn-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.btn-row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  text-align: center;
}

.btn-show-edit {
  margin-right: 10px;
}

.btn-row > * {
  margin-left: 1rem;
}

.btn-row >:first-child {
  margin-left: 0;
}

.btn-primary {
  color: white;
  background-color: red;
}
.btn-delete {
  color: black;
  background-color: white;
}

.btn-primary:hover {
  color: black;
  background-color: white;
}

.btn-delete:hover {
  color: white;
  background-color: black;
}

.form-row {
  color: white;
  display: flex;
  margin-bottom: .5rem;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  flex-grow: 1;
  flex-basis: 0;
}

.form-item:first-child {
  margin-left: 0;
}

.form-item-no-grow {
  flex-grow: 0;
}

.form-row-end {
  justify-content: flex-end;
}

.form-item > label {
  font-size: 1.2rem;
  margin-bottom: .25rem;
  margin-left: .25rem;
}

.form-item input, .form-item select, .form-item textarea {
  height: 2rem;
  padding: .25rem .5rem;
  border-radius: .25rem;
  border: 1px solid black;
  color: #757575;
  font-size: 1rem;
  font-weight: normal;
  font-family: 'Merriweather', serif;
  outline: none;
}

.form-item textarea {
  height: 100%;
  resize: none;
}


.filepond--root {
  font-family: 'Merriweather', serif;
  margin-bottom: 0;
}

.filepond--panel-root {
  border: 1px solid black;
}

.filepond--drop-label {
  color: #757575;
  font-size: inherit;
}

.author-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.author-name {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.book-cover {
  width: 200px;
  height: calc(200 / 0.75)
}

.book-cover-file {
  width: 160px;
}

.book-cover-large {
  width: 325px;
}

.book-grid {
  display: grid;
  justify-content: center;
  grid-gap: 2rem;
  align-content: center;
  grid-template-columns: repeat(4, 1fr);
}

.book-grid-show {
  margin-bottom: 20px;
}

.movie-grid {
  display: grid;
  justify-content: center;
  grid-gap: 2rem;
  align-content: center;
  grid-template-columns: repeat(4, 1fr);
}

.book-grid-large {
  grid-template-columns: repeat(4, 1fr);
}

.book-details {
  display: flex;
}

.book-details-label {
  font-size: 1.2rem;
  font-weight: 500;
  align-self: flex-start;
}

.book-details-grid {
  display: grid;
  align-content: flex-start;
  align-items: center;
  grid-gap: 1rem;
  grid-template-columns: auto auto;
}

.book-details-btn-grid {
  display: grid;
  justify-items: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  grid-template-areas:
  "edit delete"
  "author author";
  grid-gap: .5rem;
  margin-top: .5rem;
}

.book-details-author-button {
  grid-area: author;
  justify-self: stretch;
}

.dropdown {
  display: inline-block;
  position: relative;
  margin: 10px;
  z-index: 2;
}

.dropdown1 {
  /* display: inline-block;
  position: relative; */
  margin: 10px 10px 10px 0px;
  padding-top: 20px;
}

.dropdown-content1 {

    width: auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: auto;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: white;
}

.dropdown:hover {
  color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: black;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: white;
}

.inner-movie {
  text-align: center;
  margin-top: 110px;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.inner-show {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.banner {
  width: 100%;
  display: block;
}

.bg-image {
  width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    filter: blur(4px);
    background-repeat: no-repeat;
}

.banner-image {
  height: 100%;
  width: 100%;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  text-align: center;
}

.user1 {
  max-width: 550px;
  margin: auto;
  margin-top: 10vh;
  text-align: center;
}

.user2 {
  max-width: 900px;
  margin: auto;
  margin-top: 3vh;
  text-align: center;
  line-height: 30px;
}

.h2-register{
  font-size: 37px;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.h3-register{
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.h5-register{
  font-size: 25px;
  padding: 20px 0 20px 0;
  margin-top: 0;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.register-form {
  background-color: rgba(0, 0, 0, 0.7);
    width: 30vw;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 80px;
}
.username{
  width: 20vw;
  height: 5vh;
  border-radius: 5px;
  margin-bottom: 15px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.password {
  width: 20vw;
  height: 5vh;
  border-radius: 5px;
  margin-top: 15px;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
