<%- include('../partials/header.ejs') %>
    <h2>Search Authors</h2>
    <form action="/authors" method="GET">
      <label for="name">Name</label>
      <input type="text" name="name" value="<%=searchOptions.name%>">
      <button type="submit" name="button">Search</button>
    </form>
    <br>
  </body>
    <ul>
      <% for(let i = 0; i < authors.length; i++) { %>
        <div> <%= authors[i].name %> </div>
        <li>
          <a href="/authors/<%= authors[i].id %>"> View </a>
        </li>
    <% } %>
    </ul>
  </body>
</html>
