<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
  <div class="inner-container">
    <h2 class="page-header">New Author</h2>
    <form method="POST" action="/authors">
      <fieldset>
        <label for="name">Name:</label>
        <input id="name" type="text" name="name" placeholder="Enter new author name">
      </fieldset>
      <a href="/authors">Cancel</a>
      <button type="submit">Add Author</button>
    </form>
  </div>
  </body>
</html>
